.features {
    margin-top: 125px;
    // background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
    &__line {
        margin-top: 10px;
    }
    &__list {
        padding-top: 48px;
        .card {
            margin-bottom: 60px;
            width: 520px;
            height: 200px;
            background: #FFFFFF;
            box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
            &__header {
                display: flex;
                height: 80px;
                background-color: $background-color-white;
            }
            &__title {
                display: flex;
                align-items: center;
                margin-left: 20px;
                font-weight: 600;
                font-size: 20px;
                line-height: 40px;
            }
            &__description {
                display: flex;
                margin: auto;
                margin-top: 30px;
                width: 440px;
                height: 60px;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}