* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0 auto;
    width: 640px;
    color: #11223F;
    background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}

@import 'breakpoints';
@import 'variables';
@import 'container';
@import 'header';
@import 'action-btn';
@import 'upload';
@import 'comments';
@import 'work';
@import 'line';
@import 'features';
@import 'title-cards';
@import 'title-card';
@import 'users';
@import 'purposes';
@import 'consultation';
@import 'stories';
@import 'page-footer';