.reviews {
    margin-top: 168px;
    .review {
        padding-top: 40px;
        margin-bottom: 50px;
        width: 540px;
        height: 280px;
        background-color: #fff;
        &__header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 0 0 0 40px;
            &__wrapper {
                display: flex;
                align-items: center;
            }
            .who {
                margin-left: 20px;
                .name {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                }
                .proffesion {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 30px;
                    color: $text-color-blue-work;
                    opacity: 0.8;
                }
            }
            .review__logo {
                margin-right: 40px;
            }
        }
        &__description {
            margin: 40px;
            font-size: 16px;
            line-height: 30px;
        }
    }
}